@import url("https://use.typekit.net/jmk3xov.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    --dark-bg: rgba(15, 15, 15, 0.95);
    --spacing: 350px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    width: 90vw;
    color: white;
    z-index: 99;
    position: absolute;
    margin: 0px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
blockquote {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-style: normal;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

header {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.image-container {
    background: var(--dark-bg);
    font-size: 2.5rem;
    padding: 2rem;
    width: 40%;
}

.header-logo {
    width: 100%;
}

section {
    padding: 1rem;
    width: 50%;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
}

blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
}

blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
}

.footer {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.submit-button {
    padding: 10px;
    margin-left: 25%;
    border-radius: 10px;
    background-color: white;
    text-decoration: none;
    width: 200px;
    height: 75px;
    display: flex;
    align-items: center;
}

.submit-button p {
    color: black;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 20px;
}

.left {
    align-self: flex-end;
}